/* - - Variables - - */
/* - - Primarios - - */
$dark_blue: hsl(233, 26%, 24%);
$lime_breen: hsl(136, 65%, 51%);
$bright_cyan: hsl(192, 70%, 51%);
/* - - Neutral - - */
$grayish_blue: hsl(233, 8%, 62%);
$light_grayish_blue: hsl(220, 16%, 96%);
$very_light_gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$color: hsl(228, 45%, 44%);

/*Images*/
$bg-intro-desktop: "../images/bg-intro-desktop.svg";
$bg-intro-mobile: "../images/bg-intro-mobile.svg";

/*breakpoints*/
$tablet: 768px;
$desktop: 1200px;